{% extends 'layout.html' %}

{% block title %}
    Ürün Çeşitleri
{% endblock title %}

{% block content %}
{% from "includes/formhelpers.html" import render_field %}
<div class="head">
    <h2>Ürün Çeşitleri</h2>
    <br>
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addProductTypeModal">
     Yeni Ürün Çeşidi Ekle
    </button>
</div>
            
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Ürün Çeşidi</th>
          </tr>
        </thead>
        <tbody>
          
              {% for index in range(productTypeData |length) %}             
              <tr>       
                <th scope="row">{{index + 1}}</th>
                <td>{{productTypeData[index].get('TypeName')}}</td>

                <td>
                <div style="float:left">
                  <a href="/productType/info/{{productTypeData[index].get("id")}}">
                    <button type="button" class="btn bt-secondary" id="editButton" title="Düzenle">
                      Düzenle
                    </button>
                  </a>
                </div>
                <div style="float:left"></div>
                  <form method="post" action="{{ url_for('removeProductType', id=productTypeData[index].get("id")) }}">
                    <button type="submit" class="btn btn-danger" title="Sil">Sil</button>
                  </form>
                </div>
                </td>
              </tr>
              {% endfor %}
             
        </tbody>
      </table>
      <br>
      
      
      <!-- Modal -->
      <div class="modal fade" id="addProductTypeModal" tabindex="-1" role="dialog" aria-labelledby="addProductTypeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ürün Çeşidi Ekle</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post">
                {{ render_field(form.typeName, class="form-control col-4") }}
                <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
          </div>
        </div>
      </div>

<!--
  
  

-->

{% endblock content %}