{% extends 'layout.html' %}

{% block title %}
    Ürünler
{% endblock title %}

{% block content %}
{% from "includes/formhelpers.html" import render_field %}
<div class="head">
    <h2>Ürünler</h2>
    <br>
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addProductModal">
      Ürün Ekle
    </button>
</div>
            
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Ürün Türü</th>
            <th scope="col">Marka</th>
            <th scope="col">Satış Fiyatı</th>
            <th scope="col">Alış Fiyatı</th>
            <th scope="col">Stok</th>
          </tr>
        </thead>
        <tbody>
          
              {% for index in range(productData |length) %}             
              <tr>       
                <th scope="row">{{index + 1}}</th>
                <td>{{productTypes[productData[index].get('ProductTypeId')]}}</td>
                <td>{{productData[index].get('Brand')}}</td>
                <td>{{productData[index].get('PurchasePrice')}}</td>
                <td>{{productData[index].get('SalePrice')}}</td>
                <td>{{productData[index].get('Stock')}}</td>
                <td>
                <div style="float:left">
                  <a href="/product/info/{{productData[index].get("id")}}">
                    <button type="button" class="btn bt-secondary" id="editButton" title="Düzenle">
                      Düzenle
                    </button>
                  </a>
                </div>
                <div style="float:left"></div>
                  <form method="post" action="{{ url_for('removeProduct', id=productData[index].get("id")) }}">
                    <button type="submit" class="btn btn-secondary" title="Sil">Sil</button>
                  </form>
                </div>
                </td>
              </tr>
              {% endfor %}
             
        </tbody>
      </table>
      <br>
      
      
      <!-- Modal -->
      <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ürün Ekle</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post">
                {{ render_field(form.typeName, class="form-control col-4") }}
                {{ render_field(form.brand, class="form-control col-4") }}
                {{ render_field(form.purchasePrice, class="form-control col-4") }}
                {{ render_field(form.salePrice, class="form-control col-4") }}
                {{ render_field(form.stock, class="form-control col-4") }}
                <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
          </div>
        </div>
      </div>

<!--
  
  

-->

{% endblock content %}