{% extends 'layout.html' %}

{% block title %}
    Satış Faturası
{% endblock title %}

{% block content %}
{% from "includes/formhelpers.html" import render_field %}
    <h2>Fatura Oluştur</h2>
    <br>
    <hr>

    <form method="post">

        {{ render_field(form.receiptNumber, class="form-control col-4") }}
        {{ render_field(form.customerType, class="form-control col-4") }}
        {{ render_field(form.firstName, class="form-control col-4") }}
        {{ render_field(form.lastName, class="form-control col-4") }}
        {{ render_field(form.companyName, class="form-control col-4") }}
        {{ render_field(form.date, class="form-control col-4") }}

        <button type="submit" class="btn btn-primary">Ekle</button>
</form>



{% endblock content %}