{% extends 'layout.html' %}

{% block title %}
    Satış Faturası
{% endblock title %}

{% block content %}
{% from "includes/formhelpers.html" import render_field %}
 

<div class="head">
    <h2>Satış Faturaları</h2>
    <br>
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addSalesReceiptModal">
      Satış Faturası Ekle
    </button>
</div>
            
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Fatura Numarası</th>
            <th scope="col">Müşteri Adı</th>
            <th scope="col">Tarih</th>
          </tr>
        </thead>
        <tbody>
          
              {% for index in range(receiptData |length) %}              
              <tr>       
                <th scope="row">{{index+1}}</th>
                <td>{{receiptData[index].get('ReceiptNumber')}}</td>
                <td>{{customers[receiptData[index].get('CustomerId')]}}</td>
                <td>{{receiptData[index].get('Date')}}</td>
                <td>
                <div style="float:left">
                  <a href="/salesReceipt/info/{{receiptData[index].get("id")}}">
                    <button type="button" class="btn bt-secondary" id="editButton" title="Düzenle">
                      Düzenle
                    </button>
                  </a>
                </div>
                <div style="float:left"></div>
                  <form method="post" action="{{ url_for('removeSalesReceipt', id=receiptData[index].get("id")) }}">
                    <button type="submit" class="btn btn-danger" title="Sil">Sil</button>
                  </form>
                </div>
                </td>
              </tr>
              {% endfor %}
             
        </tbody>
      </table>
      <br>
      
      
      <!-- Modal -->
      <div class="modal fade" id="addSalesReceiptModal" tabindex="-1" role="dialog" aria-labelledby="addSalesReceiptModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Satış Faturası Ekle</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="post">

                    {{ render_field(form.receiptNumber, class="form-control col-4") }}
                    {{ render_field(form.customerType, class="form-control col-4") }}
                    {{ render_field(form.firstName, class="form-control col-4") }}
                    {{ render_field(form.lastName, class="form-control col-4") }}
                    {{ render_field(form.companyName, class="form-control col-4") }}
                    {{ render_field(form.date, class="form-control col-4") }}
            
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
          </div>
        </div>
      </div>


{% endblock content %}