{% extends 'layout.html' %}

{% block title %}
    Çalışanlar
{% endblock title %}

{% block content %}
{% from "includes/formhelpers.html" import render_field %}
    <h2>Çalışanlar</h2>
    <br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Telefon Numarası</th>
          </tr>
        </thead>
        <tbody>
          
              {% for staff in staffData %}
              <tr>
                <th scope="row">1</th>
                <td>{{staff.get('FirstName')}}</td>
                <td>{{staff.get('LastName')}}</td>
                <td>{{staff.get('PhoneNumber')}}</td>
              </tr>

              {% endfor %}
             
        </tbody>
      </table>

<!--<

    form method="post">

        {{ render_field(form.tckn, class="form-control") }}
        {{ render_field(form.fname, class="form-control") }}
        {{ render_field(form.lname, class="form-control") }}
        {{ render_field(form.phoneNumber, class="form-control") }}
        {{ render_field(form.address, class="form-control") }}
        {{ render_field(form.bdate, class="form-control") }}
        {{ render_field(form.wage, class="form-control") }}
        {{ render_field(form.rest, class="form-control") }}
        <button type="submit" class="btn btn-primary">Ekle</button>
    </form>

-->

{% endblock content %}