{% extends 'layout.html' %}
{% block title %}
    info
{% endblock title %}

{% block content %}
{% from "includes/formhelpers.html" import render_field %}

<h3>{{staff.get("FirstName")}} {{staff.get("LastName")}}</h3>
<form method="post">

{{ render_field(form.tckn, class="form-control col-4") }}
{{ render_field(form.fname, class="form-control col-4") }}
{{ render_field(form.lname, class="form-control col-4") }}
{{ render_field(form.phoneNumber, class="form-control col-4") }}
{{ render_field(form.address, class="form-control col-4") }}
{{ render_field(form.bdate, class="form-control col-4") }}
{{ render_field(form.wage, class="form-control col-4") }}
{{ render_field(form.rest, class="form-control col-4") }}
<button type="submit" class="btn btn-primary">Düzenle</button>
</form>
{% endblock content %}