<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">UMUT OFİS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a style="margin-left: 10px" class="nav-link" href="/">Ana Sayfa <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/productType">Ürün Çeşitleri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product">Ürünler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/staff">Çalışanlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/supplier">Tedarikçi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/company">Müşteriler (Kurum)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/person">Müşteriler (Kişi)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/purchaseReceipt">Alış Faturaları</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/salesReceipt">Satış Faturaları</a>
        </li>
      </ul>
    </div>
  </nav>

  